body {
    backgroud-color: #0e1ac4;
    color: #080707
    font-family: Arial, sans-serif;
 }

 header {
    backgroud-color: #44b640;
    color:white;
    text-align: center;
    padding: 30px;
 }

 h1 {
    font-size: 36px;
 }

 h2 {
    color: #6b2d5c;
 }

 p {
    font-size: 18px;
    line-height: 1.6;
 }
